
.dashboard_navbar {
    height: 50px;
    background-color: antiquewhite;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--dashboard-bg);
}

.dashboard_navbar_main {
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

.brand_header {
    font-size: 28px;
    font-weight: 800;
    color: var(--brand-color);
}