.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui.modal,
  .ui.active.modal {
    margin: 0 auto!important;
    top: auto !important;
    left: auto !important;
    transform-origin: center !important;
    transition: all ease .5s;
    height: auto;
  }

  .table-actions > *{
    display: inline !important;
  }


  .price-card {
    margin: 20px;
    width: 100%;
    background-color: rgb(70, 86, 98);
    border-radius: 10px;
  }
  .price-card-header {
    text-align: center;
    padding: 20px;
  }

  .month-3 {
    background-color: rgb(226, 108, 108);
  }
  .month-6 {
    background-color: rgb(227,161, 108);
  }
  .month-12 {
    background-color: rgb(146, 108, 227)
  }

  .price {
    font-size: 50px;
    padding: 50px 0px;
  }
  .price .price-m {
    font-size: 60px;
  }


  .checkout-item {
    border: 3px solid rgba(76, 76, 194, 0.4);
    background-color: rgba(76, 76, 194, 0.1);
  }


  .payment-price .price {
    font-size: 30px;
    color: var(--dashboard-main-bg);
    font-weight: 600;
  }
  .payment-price .price-m {
    font-size: 40px;
    font-weight: 900;
  }

  .package {
    border: 4px solid rgb(70, 72, 92);
    min-width: 400px;
    min-height: 500px;
    background-color: rgb(238, 238, 238);
    color:rgb(70, 86, 98);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

  }

  .package h1 {
    font-size: 50px;
    font-weight: 900 !important;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 rgba(255, 66, 66, 0.842), 1px 1px 0 #8f5b6d;

  }
  .package-name {
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(255, 66, 66, 0.842);
    padding: 10px 0px;
    color:white
  }


  body {
    font-family: 'Outfit', sans-serif !important;
  }

  *, h1, h2, h3, h4, h5, h6, p, span, div, button {
    font-family: 'Josefin Sans', sans-serif !important;
  }

  i {
    font-family: Icons !important;
  }
  .w-80 {
    width: 80px;
  }


.no-border  tr {
  border: 0 !important;
}