
:root {
    /*Dashboard Colors*/
    --dashboard-bg: #2a3042;
    --dashboard-main-bg: #222736;
    --dashboard-main-color: #fff;

    /*Brand Colors*/
    --brand-color: rgb(102, 236, 192);

    /*Sidebar button  colors*/
    --sidebar-btn-text: rgb(216, 216, 216);
    --sidebar-btn-bg: #2a3042;
    --sidebar-btn-color: #47475c;

    --dark-table-color: #37495c;
}
