.ui.inverted.teal.table {
    background-color: var(--dark-table-color)!important;
    color: #fff!important;
}

.ui.inverted.teal.segment.custom {
    background-color: var(--dashboard-main-bg)!important;
    color: #fff!important;
}

body {
    font-family: 'Outfit', sans-serif !important;
}

.card {
    margin-bottom: 1.875rem;
    background-color: #fff;
    transition: all .5s ease-in-out;
    position: relative;
    border: 0rem solid transparent;
    border-radius: 1.25rem;
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgb(82 63 105 / 5%);
    height: calc(100% - 30px);
}
.card-header:first-child {
    border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0;
}

.card-header {
    border-color: #f5f5f5;
    position: relative;
    background: transparent;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header .card-title {
    margin-bottom: 0rem;
}

.card-title {
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
}
.card-body {
    padding: 1.875rem;
}
.table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #393939;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #393939;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #393939;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #393939;
    vertical-align: top;
    border-color: #EEEEEE;
}
.table > thead {
    vertical-align: bottom;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.table thead th {
    border-bottom: 0.0625rem solid #EEEEEE !important;
    text-transform: capitalize;
    font-size: 1.4rem;
    white-space: nowrap;
    font-weight: 900;
    letter-spacing: 0.0313rem;
    border-color: #f5f5f5 !important;
}
.table tbody tr td {
    vertical-align: middle;
    border-color: #f5f5f5;
}

.table th, .table td {
    border-color: #f5f5f5 !important;
    padding: 1.5rem 0.625rem;
}

.table tr td {
    font-weight: 100 !important;
}

.table tbody {
    border-color: #f5f5f5 !important;
}

.table-orange {
    --bs-table-bg: #feebe6;
    --bs-table-striped-bg: #feebe6;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #feebe6;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #feebe6;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #feebe6;
}

.table-large tbody td {
    padding: 2.5rem 0.625rem !important;
}

.bg-orange {
    background: var(--primary-color);
    color: white;
}
.bg-purple {
    background: rgb(87, 70, 161);
    color: white;
}
.bg-green {
    background: rgb(77, 185, 80);
    color: white;
}

.pool-cards {
    padding-bottom: 40px !important;
}

.pool-cards > .card {
    width: 75%;
    margin: 40px auto;
}

.pool-cards .slider img {
    width: inherit;
    height: 500px;
}

.wrapper {
    width: 100%;
    margin: auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.flexbox-item {
    flex: 0 1 calc(30% - 8px);
    height: 500px;
    max-width: 30%;
    margin: 1.875rem;
    border-radius: 20px;
}
.flexbox-item img {
    width: 225px;
    height: 225px;
}
.w-85 {
    width: 85%;
}



.form-display-1 > *{
    font-size: 1.2rem;
}

.ui.form.form-large > .field,
.ui.form.form-large > .fields   {
    padding:15px 0px;
}

.alert.alert-success.solid {
    background: #68e365;
    color: #fff;
    border-color: #68e365;
}
.alert.alert-primary.solid {
    background: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}
.alert.alert-secondary.solid {
    background: #145650;
    color: #fff;
    border-color: #145650; }
  
.alert.alert-warning.solid {
    background: #ffa755;
    color: #fff;
    border-color: #ffa755; }
  
  .alert.alert-danger.solid {
    background: #f72b50;
    color: #fff;
    border-color: #f72b50; }
  
  .alert.alert-info.solid {
    background: #D653C1;
    color: #fff;
    border-color: #D653C1; }
  
  .alert.alert-dark.solid {
    background: #6e6e6e;
    color: #fff;
    border-color: #6e6e6e; }
  
  .alert.alert-light.solid {
    background: #c8c8c8;
    color: #6e6e6e;
    border-color: #c8c8c8; }
  

.table tbody tr td {
    font-weight: 500 !important;
    font-family: 'Poppins', sans-serif !important;
}

.ff-pap {
    font-family: 'Poppins', sans-serif !important;
    line-height: 2.25rem;
}